.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Started here */

.stage {
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.task {
  background-color: white;
  margin: 5px;
  padding: 10px 0px;
}

.task-active {
  background-color: blue;
}

.green {
  /* Note: hidden attribute fails to work if there is a more specific selector attribute, such as display: flex */
  background-color: rgb(36, 138, 36);
  color: white;
  border-radius: 5px;
  height: 22px;
}

.confirm {
  flex: 0 1 auto;
  align-self: center;
}

.add {
  margin: 5px;
  align-self: center;
}

.input {
  text-align: left;
  display: flex;
  margin: 5px;
}

input.bp3-input {
  padding-right: 0px !important;
  flex: 1 1 100%;
  display: flex;
}

.clicked {
  background-color: rgb(1, 73, 139);
  color: white;
}

/* CSS for Task Buttons */
.option {
  display: inline-flex;
  align-items: center;
  margin: 3px;
  border-radius: 5px;
  padding: 4px;
}

span.bp3-icon {
  height: 12px;
}

.delete {
  color: white;
  background-color: rgb(180, 3, 3);
}

.trashcan {
  margin-right: 3px;
}

.back,
.forward {
  color: white;
  background-color: rgb(32, 115, 209);
}
